

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
<script src="~/Scripts/Module.js"></script>
<script src="~/Scripts/Controller.js"></script>
<script src="~/Scripts/Service.js"></script>

<div ng-app="myAdmin" ng-controller="myProductCtrl" ng-init="getAllProducts()">
  
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th>SKT</th>
            <th>TETT</th>
            <th>ProductionDate</th>
            <th>ProductUrl</th>
        </tr>
        <tr ng-repeat="x in product">
            <td>{{x.Title}}</td>
            <td>{{x.CategoryId}}</td>
            <td >{{x.Price}}TL</td>
            <td ng-model="date(x.SKT)">{{sonuc}}</td>
          
            <td ng-model="date(x.TETT)">{{sonuc}}</td>
            <td ng-model="date(x.ProductionDate)">{{sonuc}}</td>

            <td> <img style="width:75px" src="{{x.ProductUrl}}" /></td>
            <td>
                <span ng-click="editEmployee(x)" class="btn btn-default">Edit</span>
                <span ng-click="DeleteE(x)" class="btn btn-default">Delete</span>
            </td>
        </tr>
    </table>
    
</div>

@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
        <script src="~/Scripts/Module.js"></script>
        <script src="~/Scripts/Controller.js"></script>
        <script src="~/Scripts/Service.js"></script>


    <div data-ng-app="myAdminn" data-ng-controller="myProductCtrl" data-ng-init="getAllProducts()">


        <table class="table">
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Price</th>
                <th>SKT</th>
                <th>TETT</th>
                <th>ProductionDate</th>
                <th>ProductUrl</th>
            </tr>
            <tr data-ng-repeat="item in product">
                <td data-ng-bind="item.Title"></td>
                <td data-ng-bind="item.Category"></td>
                <td data-ng-bind="item.Price"></td>
                <td data-ng-bind="item.SKT"></td>
                <td data-ng-bind="item.TETT"></td>
                <td data-ng-bind="item.ProductionDate"></td>
                <td > <img style="width:75px;height:75px" data-ng-src="item.ProductUrl"/></td>


            </tr>
        </table>



    </div>*@
